html,
body {
  margin: 0;
  height: 100%;
  background-color: black;
}

#mainContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.flexRow {
  display: flex; /* or inline-flex */
  justify-content: center;
  height: 200px;
  position: relative;
  z-index: 4;
  top: -37px;
  width: 100%;
}

img {
  min-width: 100px;
}

.flexCol {
  width: 50%;
  outline-style: dotted;
  outline-color: blue;
}
