.body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777;
  background: #777;
  width: 800px;
  font-size: 18px;
}

.header {
  margin-right: 60px;
  margin-left: 60px;
  text-align: center;
  background: #ebebeb;
  font-size: 40px;
}
.topnav {
  margin-left: 60px;
  margin-right: 60px;
  background: #ebebeb;
  font-size: 20px;
  overflow: auto;
  text-align: center;
}
.topnav a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.topnav form {
  display: inline-block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.parent {
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
  background: #ebebeb;
  /* font-size: 20px;
  overflow: hidden; */
  text-align: center;
  display: inline-block;
}

.box {
  display: inline-block;
  background: #ebebeb;
  font-size: 20px;
  background-color: red;
  width: 500px;
  height: 300px;
}

#two {
  height: 300px;
  float: right;
  background: green;
}
/* .parent aside {
  display: inline-block;
  position: relative;
  background: #ebebeb;
  width: 500px;
  height: 277.95px;
  top: -100px;
  font-size: 20px;
  background-color: white;
} */
